* {box-sizing: border-box;}
.header {
  overflow: hidden;
  background-color: #FFBC60;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 36px;
  font-weight: bold;
}
.header a.active {
  background-color: #FFF5D6;
  color: black;
}
.header-right {
  float: right;
}
