body {
  background-color: #f5f6fa;
  font-family: Garamond, Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #ffbc60;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 36px;
  font-weight: bold;
}

.header-right {
  float: right;
}

h2 {
  padding: 0px 22px ;
}
h3 {
  padding: 0px 25px ;
}

hr.solid {
  border-top: 1px solid #ffbc60;
}

#main {
  display: flex;
  /*padding: 20px;*/
  justify-content: space-evenly;
  margin: 0 auto;
}

#left {
  background-color: white;
  flex: 0.175;
}

#right {
  flex: 0.825;
  height: 800px;
}

#map {
  height: 100%;
}

.block {
    position: fixed;
}
