html {
  height: 100%;
}

body {
  /* font-family: Garamond, Arial, Helvetica, sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffbc60;
  max-width: 100%;
  padding: 15px 10px;
}

.header a {
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  padding: 5px 20px;
}

.header a.logo {
  font-size: 24px;
  font-weight: bold;
}

/*
.header-right:hover {
  background-color: #fff5d6;
}
*/

form {
  display: flex;
}

form label {
  letter-spacing: 1.5px;
  color: #444;
}

form input {
  margin-left: 10px;
  letter-spacing: 1.5px;
  flex: 1;
}

#submit {
  border: none;
  cursor: pointer;
  padding: 8px 0px;
  width: 100%;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #fff5d6;
  letter-spacing: 1.5px;
}

#submit:focus {
  border: none;
}

#submit:active {
  border: none;
}

.solid {
  border-top: 1px solid #ffbc60;
  margin: 20px auto;
}

h2 {
  margin: 10px 0;
  color: #222;
  letter-spacing: 1.5px;
}

#main {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

#left {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 0.175;
}

#left .container {
  flex-grow: 1;
  padding: 30px;
}

#left label {
  letter-spacing: 1.4px;
}

#left #footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  letter-spacing: 1.2px;
}

#footer a {
  text-decoration: none;
  color: #ffbc60;
}

#right {
  flex: 0.825;
  /* height: 800px; */
}

#map {
  height: 100%;
}

.info-name {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.info {
  font-size: 14px;
  margin-top: 5px;
}

.img {
  box-sizing: border-box;
  background-image: url(./assets/nyc_view.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
  width: 680px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 20px;
}

.mission {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  background-color: white;
  padding: 8px 50px;
  width: 680px;
  margin: 20px auto;
  margin-bottom: 40px;
  border-radius: 15px;
  color: rgb(41, 41, 41);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 480px) {
  .header a {
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 5px 10px;
  }
  .header a.logo {
    font-size: 18px;
  }
  #main {
    flex-direction: column;
    margin: 20px auto;
  }

  #main #left {
    padding-top: 5px;
  }

  #map {
    height: 400px;
  }

  .img {
    width: 100vw;
  }

  .mission {
    font-size: 18px;
    line-height: 28px;
    width: 90%;
    padding: 5px 10px;
  }
  .mission p {
    margin: 10px 0;
  }
}
